{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Категории
{% endblock %}

{% block content %}
    
    <div style="display: flex; align-items: center; justify-content: space-around;">
        <div class="card col-8 row-12">

            <div class="card-body">
                <form method="get">
                    {% bootstrap_form filter.form %}
                    {% bootstrap_button button_type="submit" content="Фильтровать" %}
                    
                    {% if admin %}
                        {% url 'projectForDBD:category_create' as add_url %}
                        {% bootstrap_button button_type="link" content="Добавить новую запись" href=add_url button_class="btn-success" %}
                    {% endif %}
                </form>
            </div>

        </div>

    </div>
    <br>
    
    <article class="mb-5">
    {% for category in page_obj %}
        <div style="display: flex; align-items: center; justify-content: space-around; margin-bottom: 4px; margin-top: 4px;">
            <div class="card" style="width: 40rem;">
              <div class="card-body">
                <h5 class="card-title">{{ category.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <small>
                        {{ category.description }}
                    </small>
                </h6>
                  
                {% if admin %}
                    <!--<a href="" class="btn-info">Изменить</a>  button_class="btn-success" -->
                    {% url 'projectForDBD:category_edit' category.id as edit_url %}
                    {% bootstrap_button button_type="link" content="Изменить" href=edit_url %}
                    
                    {% url 'projectForDBD:category_delete' category.id as delete_url %}
                    {% bootstrap_button button_type="link" content="Удалить" href=delete_url button_class="btn-danger" %}
                {% else %}
                    <a href="{% url 'projectForDBD:category_edit' category.id %}" class="card-link">Подробнее</a>
                {% endif %}

              </div>
            </div>
        </div>

    {% endfor %}
    </article>
    


{% endblock %}